USE [master]
GO
/****** Object:  Database [QLTrungTamTinHoc]    Script Date: 4/16/2026 1:02:11 PM ******/
CREATE DATABASE [QLTrungTamTinHoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTrungTamTinHoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLTrungTamTinHoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTrungTamTinHoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLTrungTamTinHoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTrungTamTinHoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTrungTamTinHoc]
GO
/****** Object:  Table [dbo].[KHOA_HOC]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_HOC](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[HocPhi] [decimal](18, 2) NOT NULL,
	[ThoiLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[MaLH] [varchar](10) NOT NULL,
	[TenLH] [nvarchar](50) NULL,
	[SiSo] [int] NULL,
	[TGBatDau] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaKH] [varchar](10) NULL,
	[MaGV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DanhSachLopHoc]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DanhSachLopHoc] AS
SELECT KH.MaKH, LH.MaLH, KH.TenKH, LH.TenLH, KH.HocPhi, LH.TGBatDau 
FROM KHOA_HOC KH
INNER JOIN LOP_HOC LH ON KH.MaKH = LH.MaKH
GO
/****** Object:  Table [dbo].[BANG_LUONG_GV]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_LUONG_GV](
	[MaBangLuong] [varchar](20) NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongSoGioDay] [decimal](10, 2) NOT NULL,
	[DonGiaLuong] [decimal](18, 2) NOT NULL,
	[TongLuong] [decimal](18, 2) NOT NULL,
	[NgayTinhLuong] [date] NULL,
	[DaXacNhan] [bit] NULL,
	[Thuong] [decimal](18, 0) NULL,
	[PhuCap] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaHD] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUONG_TRINH_KHUYEN_MAI]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONG_TRINH_KHUYEN_MAI](
	[MaKM] [varchar](10) NOT NULL,
	[TenKM] [nvarchar](255) NOT NULL,
	[MoTaDieuKien] [nvarchar](500) NULL,
	[LoaiGiamGia] [nvarchar](50) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANG_KY]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_KY](
	[MaHV] [varchar](10) NOT NULL,
	[MaLH] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[NgayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLH] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM_DANH]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM_DANH](
	[MaLich] [varchar](10) NOT NULL,
	[MaHV] [varchar](10) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC,
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM_SO]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM_SO](
	[MaHV] [varchar](10) NOT NULL,
	[MaLH] [varchar](10) NOT NULL,
	[LoaiDiem] [nvarchar](50) NOT NULL,
	[Diem] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLH] ASC,
	[LoaiDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANG_VIEN]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANG_VIEN](
	[MaGV] [varchar](10) NOT NULL,
	[HoTenGV] [nvarchar](50) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[Email] [varchar](100) NULL,
	[LuongTheoGio] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[MaHV] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[MaKM] [varchar](10) NULL,
	[TienGoc] [decimal](18, 2) NULL,
	[SoTienGiam] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_VIEN]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VIEN](
	[MaHV] [varchar](10) NOT NULL,
	[HoTenHV] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](10) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA_HOC_DIEU_KIEN]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_HOC_DIEU_KIEN](
	[MaKH] [varchar](10) NOT NULL,
	[MaKH_TienQuyet] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaKH_TienQuyet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_HOC]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_HOC](
	[MaLich] [varchar](10) NOT NULL,
	[NgayHoc] [date] NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[PhongHoc] [nvarchar](50) NULL,
	[MaLH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_DANG_NHAP]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_DANG_NHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[ThoiGian] [datetime] NULL,
	[ThanhCong] [bit] NULL,
	[DiaChi_IP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](10) NOT NULL,
	[HoTenNV] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[Email] [varchar](100) NULL,
	[CongViecHienTai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TenDangNhap] [varchar](10) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANG_LUONG_GV] ADD  DEFAULT (getdate()) FOR [NgayTinhLuong]
GO
ALTER TABLE [dbo].[BANG_LUONG_GV] ADD  DEFAULT ((0)) FOR [DaXacNhan]
GO
ALTER TABLE [dbo].[BANG_LUONG_GV] ADD  DEFAULT ((0)) FOR [Thuong]
GO
ALTER TABLE [dbo].[BANG_LUONG_GV] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BANG_LUONG_GV]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANG_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHOA_HOC] ([MaKH])
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HOC_VIEN] ([MaHV])
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHOA_HOC] ([MaKH])
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD FOREIGN KEY([MaLH])
REFERENCES [dbo].[LOP_HOC] ([MaLH])
GO
ALTER TABLE [dbo].[DIEM_DANH]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HOC_VIEN] ([MaHV])
GO
ALTER TABLE [dbo].[DIEM_DANH]  WITH CHECK ADD FOREIGN KEY([MaLich])
REFERENCES [dbo].[LICH_HOC] ([MaLich])
GO
ALTER TABLE [dbo].[DIEM_SO]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HOC_VIEN] ([MaHV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIEM_SO]  WITH CHECK ADD FOREIGN KEY([MaLH])
REFERENCES [dbo].[LOP_HOC] ([MaLH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HOC_VIEN] ([MaHV])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHUYENMAI] FOREIGN KEY([MaKM])
REFERENCES [dbo].[CHUONG_TRINH_KHUYEN_MAI] ([MaKM])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOADON_KHUYENMAI]
GO
ALTER TABLE [dbo].[KHOA_HOC_DIEU_KIEN]  WITH CHECK ADD FOREIGN KEY([MaKH_TienQuyet])
REFERENCES [dbo].[KHOA_HOC] ([MaKH])
GO
ALTER TABLE [dbo].[KHOA_HOC_DIEU_KIEN]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHOA_HOC] ([MaKH])
GO
ALTER TABLE [dbo].[LICH_HOC]  WITH CHECK ADD FOREIGN KEY([MaLH])
REFERENCES [dbo].[LOP_HOC] ([MaLH])
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANG_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHOA_HOC] ([MaKH])
GO
ALTER TABLE [dbo].[DIEM_SO]  WITH CHECK ADD CHECK  (([Diem]>=(0) AND [Diem]<=(10)))
GO
ALTER TABLE [dbo].[KHOA_HOC]  WITH CHECK ADD CHECK  (([HocPhi]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_DoanhThuTheoKhoaHoc]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCao_DoanhThuTheoKhoaHoc]
AS
BEGIN
    SELECT 
        kh.TenKH,
        SUM(ISNULL(hd.TongTien, 0)) AS TongDoanhThu,
        COUNT(DISTINCT dk.MaHV) AS SoLuongHocVien
    FROM 
        KHOA_HOC kh
    LEFT JOIN 
        DANG_KY dk ON kh.MaKH = dk.MaKH
    LEFT JOIN 
        HOA_DON hd ON dk.MaHV = hd.MaHV AND hd.TrangThai = N'Đã thanh toán' 
        /* Giả định: Cần xem lại logic CSDL của bạn
           Vì CSDL của bạn chưa liên kết HOA_DON trực tiếp với KHOA_HOC, 
           tôi tạm giả định logic là JOIN qua DANG_KY.
           Nếu bạn dùng bảng CHI_TIET_HOA_DON (như chúng ta đã bàn), 
           query sẽ chính xác hơn. */
    GROUP BY 
        kh.TenKH
    ORDER BY 
        TongDoanhThu DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_LoTrinhHocTap]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCao_LoTrinhHocTap]
    -- @MaKH_Base: Mã khóa học gốc (ví dụ: 'KH001')
    @MaKH_Base VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    -- Dùng Bảng tạm (CTE) để lấy ngày đăng ký khóa học gốc
    WITH KhoaHocGoc AS (
        SELECT 
            MaHV, 
            NgayDangKy AS NgayDK_Goc
        FROM 
            DANG_KY
        WHERE 
            MaKH = @MaKH_Base
    )
    -- Tìm tất cả các khóa học (Khac) mà cùng 1 học viên đã đăng ký SAU ngày học khóa Goc
    SELECT TOP 5 -- Chỉ lấy 5 lộ trình phổ biến nhất
        kh.TenKH AS KhoaHocTiepTheo,
        COUNT(DISTINCT khac.MaHV) AS SoLuongHocVien
    FROM 
        DANG_KY khac
    JOIN 
        KhoaHocGoc goc ON khac.MaHV = goc.MaHV
    JOIN
        KHOA_HOC kh ON khac.MaKH = kh.MaKH
    WHERE 
        khac.MaKH != @MaKH_Base -- Loại bỏ chính nó
        AND khac.NgayDangKy > goc.NgayDK_Goc -- Đảm bảo là đăng ký SAU
    GROUP BY
        kh.TenKH
    ORDER BY
        SoLuongHocVien DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_XuHuongDangKy]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCao_XuHuongDangKy]
AS
BEGIN
    SELECT 
        MONTH(NgayDangKy) AS Thang,
        COUNT(MaHV) AS SoLuongDangKy
    FROM 
        DANG_KY
    WHERE 
        YEAR(NgayDangKy) = YEAR(GETDATE()) -- Chỉ lấy năm hiện tại
    GROUP BY 
        MONTH(NgayDangKy)
    ORDER BY 
        Thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_GetInvoiceDetails]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Report_GetInvoiceDetails]
    @MaHD VARCHAR(20)
AS
BEGIN
    SELECT 
        hd.MaHD,
        hd.NgayLap,
        hd.PhuongThucThanhToan,
        ISNULL(hd.MaNV, '') AS MaNV, 
        ISNULL(nv.HoTenNV, N'Admin') AS HoTenNV,
        hd.MaHV,
        hv.HoTenHV,
        hv.SDT, 
        kh.TenKH AS TenKhoaHoc,
        ct.SoLuong,
        ct.DonGia AS HocPhi
    FROM HOA_DON hd
    -- Bây giờ dùng INNER JOIN yên tâm rồi vì hóa đơn nào cũng đã có chi tiết
    INNER JOIN CHI_TIET_HOA_DON ct ON hd.MaHD = ct.MaHD 
    INNER JOIN KHOA_HOC kh ON ct.MaKH = kh.MaKH
    INNER JOIN HOC_VIEN hv ON hd.MaHV = hv.MaHV
    LEFT JOIN NHAN_VIEN nv ON hd.MaNV = nv.MaNV
    WHERE hd.MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_PhieuLuongGV]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Report_PhieuLuongGV]
    @MaBangLuong VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    -- Bảng 1: Trả về thông tin chung (ĐÃ SỬA LỖI)
    SELECT 
        bl.MaBangLuong,
        bl.Thang,
        bl.Nam,
        bl.TongSoGioDay,
        bl.DonGiaLuong,
        bl.TongLuong,
        bl.DaXacNhan,  -- <- Cột bị thiếu
        gv.HoTenGV,
        gv.SDT,
        gv.Email,
        gv.ChuyenMon   -- <- Cột bị thiếu
    FROM 
        BANG_LUONG_GV bl
    JOIN 
        GIANG_VIEN gv ON bl.MaGV = gv.MaGV
    WHERE 
        bl.MaBangLuong = @MaBangLuong;

    -- Bảng 2: Trả về chi tiết các buổi dạy (Giữ nguyên)
    SELECT 
        lh.NgayHoc,
        lop.TenLH AS TenLop,
        DATEDIFF(MINUTE, lh.GioBatDau, lh.GioKetThuc) / 60.0 AS SoGio
    FROM 
        LICH_HOC lh
    JOIN 
        LOP_HOC lop ON lh.MaLH = lop.MaLH
    JOIN 
        BANG_LUONG_GV bl ON lop.MaGV = bl.MaGV 
                            AND MONTH(lh.NgayHoc) = bl.Thang 
                            AND YEAR(lh.NgayHoc) = bl.Nam
    WHERE 
        bl.MaBangLuong = @MaBangLuong
        AND EXISTS (SELECT 1 FROM DIEM_DANH dd WHERE dd.MaLich = lh.MaLich)
    ORDER BY
        lh.NgayHoc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoBangLuongGiangVien]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoBangLuongGiangVien]
    @Thang INT,
    @Nam INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Xóa bảng lương cũ nếu đã tồn tại
        DELETE FROM BANG_LUONG_GV 
        WHERE Thang = @Thang AND Nam = @Nam;
        
        -- Tạo bảng lương mới cho tất cả giảng viên
        INSERT INTO BANG_LUONG_GV (
            MaBangLuong, 
            MaGV, 
            Thang, 
            Nam, 
            TongSoGioDay, 
            DonGiaLuong, 
            Thuong,
            PhuCap,
            TongLuong,
            NgayTinhLuong,
            DaXacNhan
        )
        SELECT 
            'BL' + FORMAT(@Nam, '0000') + FORMAT(@Thang, '00') + 
                RIGHT('000' + CAST(ROW_NUMBER() OVER (ORDER BY gv.MaGV) AS VARCHAR), 3) AS MaBangLuong,
            gv.MaGV,
            @Thang AS Thang,
            @Nam AS Nam,
            -- Tính tổng số giờ dạy trong tháng từ LICH_HOC
            ISNULL((
                SELECT SUM(
                    DATEDIFF(MINUTE, 
                        CAST(CAST(lich.NgayHoc AS DATE) AS DATETIME) + CAST(lich.GioKetThuc AS DATETIME) - CAST('00:00:00' AS DATETIME),
                        CAST(CAST(lich.NgayHoc AS DATE) AS DATETIME) + CAST(lich.GioKetThuc AS DATETIME) - CAST('00:00:00' AS DATETIME)
                    ) / 60.0
                )
                FROM LOP_HOC lh
                INNER JOIN LICH_HOC lich ON lh.MaLH = lich.MaLich
                WHERE lh.MaGV = gv.MaGV
                  AND MONTH(lich.NgayHoc) = @Thang
                  AND YEAR(lich.NgayHoc) = @Nam
            ), 0) AS TongSoGioDay,
            200000 AS DonGiaLuong,  -- Đơn giá mặc định 200,000 VNĐ/giờ
            0 AS Thuong,            -- Thưởng mặc định
            0 AS PhuCap,            -- Phụ cấp mặc định
            -- Tổng lương = Giờ dạy * Đơn giá
            ISNULL((
                SELECT SUM(
                    DATEDIFF(MINUTE, 
                        CAST(CAST(lich.NgayHoc AS DATE) AS DATETIME) + CAST(lich.GioKetThuc AS DATETIME) - CAST('00:00:00' AS DATETIME),
                        CAST(CAST(lich.NgayHoc AS DATE) AS DATETIME) + CAST(lich.GioKetThuc AS DATETIME) - CAST('00:00:00' AS DATETIME)
                    ) / 60.0
                ) * 200000
                FROM LOP_HOC lh
                INNER JOIN LICH_HOC lich ON lh.MaLH = lich.MaLich
                WHERE lh.MaGV = gv.MaGV
                  AND MONTH(lich.NgayHoc) = @Thang
                  AND YEAR(lich.NgayHoc) = @Nam
            ), 0) AS TongLuong,
            GETDATE() AS NgayTinhLuong,
            0 AS DaXacNhan
        FROM GIANG_VIEN gv
        ORDER BY gv.MaGV;
        
        COMMIT TRANSACTION;
        
        -- Trả về kết quả
        SELECT 
            bl.MaBangLuong,
            bl.MaGV,
            gv.HoTenGV,
            bl.Thang,
            bl.Nam,
            bl.TongSoGioDay,
            bl.DonGiaLuong,
            ISNULL(bl.Thuong, 0) AS Thuong,
            ISNULL(bl.PhuCap, 0) AS PhuCap,
            bl.TongLuong,
            bl.DaXacNhan
        FROM BANG_LUONG_GV bl
        INNER JOIN GIANG_VIEN gv ON bl.MaGV = gv.MaGV
        WHERE bl.Thang = @Thang AND bl.Nam = @Nam
        ORDER BY gv.HoTenGV;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoBangLuongTheoThang]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoBangLuongTheoThang]
    @Thang INT,
    @Nam INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM BANG_LUONG WHERE Thang = @Thang AND Nam = @Nam;
    
    -- Tạo bảng lương cho các giảng viên đã dạy trong tháng
    INSERT INTO BANG_LUONG (MaBangLuong, MaGV, Thang, Nam, SoGioDay, DonGia, Thuong, PhuCap)
    SELECT 
        'BL' + FORMAT(@Nam, '0000') + FORMAT(@Thang, '00') + RIGHT('000' + CAST(ROW_NUMBER() OVER (ORDER BY gv.MaGV) AS VARCHAR), 3),
        gv.MaGV,
        @Thang,
        @Nam,
        ISNULL(SUM(DATEDIFF(HOUR, lh.GioBatDau, lh.GioKetThuc)), 0) AS SoGioDay,
        200000, -- Đơn giá mặc định 200,000 VNĐ/giờ
        0, -- Thưởng mặc định
        0  -- Phụ cấp mặc định
    FROM GIANG_VIEN gv
    LEFT JOIN LOP_HOC lh ON gv.MaGV = lh.MaGV
    LEFT JOIN LICH_HOC lichoc ON lh.MaLH = lichoc.MaLH
    WHERE (MONTH(lichoc.NgayHoc) = @Thang AND YEAR(lichoc.NgayHoc) = @Nam)
       OR NOT EXISTS (
           SELECT 1 
           FROM BANG_LUONG bl 
           WHERE bl.MaGV = gv.MaGV 
             AND bl.Thang = @Thang 
             AND bl.Nam = @Nam
       )
    GROUP BY gv.MaGV;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TuVan_KhoaHocDaHoc]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TuVan_KhoaHocDaHoc]
    @MaHV VARCHAR(10)
AS
BEGIN
    SELECT DISTINCT 
        kh.MaKH, 
        kh.TenKH
    FROM DANG_KY dk
    JOIN KHOA_HOC kh ON dk.MaKH = kh.MaKH
    WHERE dk.MaHV = @MaHV;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TuVan_KhoaHocGoiY]    Script Date: 4/16/2026 1:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TuVan_KhoaHocGoiY]
    @MaHV VARCHAR(10)
AS
BEGIN
    -- Bảng tạm chứa các khóa học viên đã học
    DECLARE @DaHoc TABLE (MaKH VARCHAR(10));
    INSERT INTO @DaHoc (MaKH)
    SELECT DISTINCT MaKH FROM DANG_KY WHERE MaHV = @MaHV;

    -- Bảng tạm chứa các khóa học viên CHƯA HỌC
    DECLARE @ChuaHoc TABLE (MaKH VARCHAR(10));
    INSERT INTO @ChuaHoc (MaKH)
    SELECT MaKH FROM KHOA_HOC
    EXCEPT
    SELECT MaKH FROM @DaHoc;

    -- Bảng tạm chứa các khóa học CHƯA HỌC và số điều kiện tiên quyết của nó
    WITH KhoaHocVaDieuKien AS (
        SELECT 
            ch.MaKH,
            COUNT(dk.MaKH_TienQuyet) AS TongSoDieuKien
        FROM @ChuaHoc ch
        LEFT JOIN KHOA_HOC_DIEU_KIEN dk ON ch.MaKH = dk.MaKH
        GROUP BY ch.MaKH
    ),
    -- Đếm xem học viên đã HỌC BAO NHIÊU khóa tiên quyết
    TienQuyetDaHoc AS (
        SELECT 
            dk.MaKH,
            COUNT(dh.MaKH) AS SoDieuKienDaHoc
        FROM KHOA_HOC_DIEU_KIEN dk
        JOIN @DaHoc dh ON dk.MaKH_TienQuyet = dh.MaKH
        GROUP BY dk.MaKH
    )
    -- Gợi ý các khóa học mà (Tổng điều kiện = Số điều kiện đã học)
    SELECT 
        kh.TenKH,
        kh.MoTa,
        kh.HocPhi,
        kh.ThoiLuong
    FROM KhoaHocVaDieuKien kvdk
    LEFT JOIN TienQuyetDaHoc tqdh ON kvdk.MaKH = tqdh.MaKH
    JOIN KHOA_HOC kh ON kvdk.MaKH = kh.MaKH
    WHERE 
        kvdk.TongSoDieuKien = ISNULL(tqdh.SoDieuKienDaHoc, 0);

END
GO
USE [master]
GO
